.fecha__body{
    background-color: white;
}

.btn__submit{
    background-color: transparent;
    border: none;
    font-size: 3rem;
    color: thistle;
    border-radius: 30px;
    border:solid 2px white;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
    margin: 0.5em;
    display: inline-block;
    overflow: hidden;
}

.btn__submit:hover{
    transform: rotate(360deg);
    background-color: #f0bb32;
    border: solid 2px #f0bb32 ;
    
}

.icon__form{
    color:#f0bb32;
    margin:0.3em;
    font-size: 1.5rem;
}

.input__dates{
    border: solid 2px thistle;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    margin: 2em;
    text-align: center;
}

.input__dates:focus{
    outline: none;
    border: 2px solid black;
}

.form__dates{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    background-color: white;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0px 2px 2px 1px thistle;
    border: solid 1px thistle;
    margin:5em 2em;
    max-width: fit-content;
}


