
/* ---------------------------MEDIA QUERY--------------------------------- */
@media only screen and (max-width: 1000px){
nav{
    
    height: max-content;


    .hamburguer__menu{
        display: block;
        margin: 2em;
    }

    .secciones__body{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 1.5em;
        box-shadow: 0px 2px 2px 1px thistle;
        border: solid 1px thistle;
        border-radius: 10px;
    }
}

}



@media only screen and (max-width: 1330px){


    .boarding__body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btns__fin__boarding{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 2em;
        margin-bottom: 2em;
    }
    .btn__mod__fecha {
        margin-left: 0em;}

    .carrito__box{
        margin-top: 3em;
    }
}


@media only screen and (max-width: 1000px){

    nav{
        display: flex;
        flex-direction: column;
        margin-top: 2em;

        
    }

    footer{
        .footer__icon{
            margin: 0.5em;
        }
    }

    main{
       
        .index__box{
        display: flex;
        flex-direction: column;
        align-items: center;
        }
    }

    .form__dest{
        flex-direction: column;
        margin: 0em 3em;
        margin-top: 2em;

        select{
            width: 200px;
        }

    }

/* -----------------------------------BOARDING----------------------------------------- */

    .infoVuelos{
        display: flex;
        flex-direction: column;
        justify-content: left;
        background-color: white;
    }
    
    .info__destinos{
        display: flex;
        flex-direction:column;
        align-items: center;
    }
    
    .info__destios__header{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1em;
        margin: 0em 2.6em;
        margin-top: 5em;
    }
    
    .destinos__ida{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        gap: 3em;
        font-size: 1.3rem;
        margin: 0.5em 2em;
    
    }
    
    .fecha__ida{
    font-size: 1.3rem;
    margin: 1em 2em;
    
    }
    
    .vuelo__box{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border-radius: 10px;
        width: 280px;
        box-shadow: 0px 2px 2px 1px thistle;
        margin:auto;
        margin-bottom: 1em;
        border: solid 1px thistle;
    }
    
    .vuelos__info{
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
        
    }
    
    .vuelo__hora__izq{
        font-size: 1.8rem;
        text-align: center;
    }
    
    .vuelo__hora__der{
        font-size: 1.8rem;
        text-align: center;
    }
    
    .iniciales__ciudad__izq{
        font-size: 0.8rem;
        text-align: center;
        
    }
    
    .vuelo__time{
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        margin: 2em;
    }
    
    .plane__icon{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 200px;
        margin: 1em 0em;
    }
    
    .vuelo__time__text{
        font-size: 0.8rem;
        color:#636680;
    } 
    
    .line__plane{
        height: 1px;
        width: 65px;
        background: #f0bb32;
    }
    
    .iniciales__ciudad__der{
        font-size: 0.8rem;
        text-align: center;
    }

    .btns__compra{
        display: flex;
        flex-direction: row;
        width: max-content;
        padding: 0em;
    }


.btn__buisness__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5em;
}

.btn__economy__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5em;
}


    .boarding__body{
        display: flex;
        flex-direction: column;
    }
    
    .carrito__stycky{
        overflow: auto;
    }

    .carrito__box{
        width: 280px;
        border-radius: 10px;
        box-shadow: 0px 2px 2px 1px thistle;
        margin: auto;
        margin-top: 3em;
        border: solid 1px thistle;
        position: sticky;
        top: 1em;
        align-self: flex-start;
    }

    .btns__fin__boarding{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        width: max-content;
        gap: 2em;
        margin-bottom: 2em;
    }
    
    .btn__mod__fecha{
        border: none;
        background-color: transparent;
        font-size: 1rem;
        margin-left: 0px;
    }

    .tickets{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .boarding__ciudades{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 280px;
        margin: 1em;
        border-bottom: dashed 1px $clr-ye;
    }

    .boarding__ciudad{
        font-size: 1.5rem;
        margin: 1em  2em;
    }
    
    .viajanding__ticket{
        color: $clr-ye;
    }
    
    .icon__arrow__tickets{
        font-size: 3.5rem;
        rotate: 90deg;
    }
    
    .boarding__box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 2px 2px 1px thistle;
        border: solid 1px thistle;
        border-radius: 20px;
        width: 280px;
        margin: auto;
        margin-top: 3em;
        background-color: white;
    }

    .boarding__qr{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: white;
        box-shadow: 0px 2px 2px 1px thistle;
        border: solid 1px thistle;
        border-radius: 20px;
        width: 280px;
        margin: auto;
        margin-bottom: 3em;
    }

    .boarding__name{
        text-align: left;
        width: 280px;
        margin:0em;
        margin-left:1em;
        margin-bottom: 1em;
    }
    
    .borading__time{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0em;
        
    }

    .boarding__hour{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 250px;
        margin: 1em 2em;
    }

    .boarding__info{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 280px;
        margin: 1em;
        padding-top: 1em;
        border-top: dashed 1px $clr-ye;
    }

    .btns__fin__boarding{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 3em;
    }

    .carrito__vuelo__ida__header{
        display: flex;
        flex-direction: row;
        gap: 2em;
        padding: 2em;
        align-items: center;
        justify-content: center;
    }
    
    .carrito__vuelo__vuelta__header{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2em;
        padding: 2em;
        justify-content: center;
        
    }

}

@media only screen and (max-width: 660px){

    body{
        font-size: 12px;
    }

    nav{

        height: max-content;

        .header__logo{
            font-size: 1.7rem;
        }
        
        ul li{
            display: flex;
            flex-direction: column;
        }

        ul{
            display: none;
        }

        a{
            text-align: center;
            margin: 0.2em;
        }

        .hamburguer__menu{
            display: block;
            margin: 2em;
        }
    }

    main{
    .index__box{
        .index__text{

        h2{
            font-size:2.5rem ;
        }

        p{
            font-size:14px;
            margin-right: 0.5em;
        }

        }
    }
    }

    .text__area{
        margin-top: 6em;
    }

    .form__column{
        margin-right: 0px;
    }

    .destino__box{
        height: 200px;
    }

    .text__destino{
        font-size:1.8em;
    }

    .form__dates{
        flex-direction: column;
    }

    .linea{
        height: 3px;
        width: 200px;
        background-color: #f0bb32;
        margin-bottom: 2em;
    }

      .linea__text{
        margin-left: 0em;
        color: $clr-bl;
        margin-top: 2em;
      }


    footer{
        flex-direction: column;
        height: 12em;

        .footer__logo{
            font-size: 2.2rem;
        }

        .footer__icon{
            margin: 3px;
        }
    }

    .newslleter{
    
        .news__form{
            flex-direction: column;
            margin: 2em;
    
        .news__input{
            margin: 2em;
            width: 300px;
        }
        }
    }

}