/* ----------------------RESET-------------------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}

/* ----------------------VARIABLES---------------------------------- */

//COLORES
$clr-ye:#f0bb32;
$clr-wt:#ffffff;
$clr-bl:#2f3143;

